@inherits LayoutComponentBase

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers_B2C</title>
    <!-- Otros elementos del encabezado, como enlaces a hojas de estilo, scripts, etc. -->
    
    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Fin de hojas de estilo -->
</head>
<body>
    <BlazoredToasts />
    <NavMenu />
    <div class="container body-content">
        @Body
    </div>
    <Footer />
    <!-- Otros elementos del cuerpo, como scripts, etc. -->

    <!-- Fin de scripts -->
</body>
</html>
