@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Phuler - Flower eCommerce Bootstrap 5 Template</title>
    <meta name="description" content="">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="no-cache">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets2/img/favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="assets2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets2/css/animate.css">
    <link rel="stylesheet" href="assets2/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets2/css/slick.css">
    <link rel="stylesheet" href="assets2/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets2/css/simple-line-icons.css">
    <link rel="stylesheet" href="assets2/css/ionicons.min.css">
    <link rel="stylesheet" href="assets2/css/meanmenu.min.css">
    <link rel="stylesheet" href="assets2/css/style.css">
    <link rel="stylesheet" href="assets2/css/responsive.css">
</head>
<body>
    <BlazoredToasts />
    <NavMenu />
    <BreadCrumb />
        @Body
    <Footer />
</body>
</html>
