@inherits LayoutComponentBase

<header class="header-area clearfix">
    <BlazoredToasts />
    <NavMenu />
</header>
<body>
    <BreadCrumb />
        @Body
</body>
<footer class="footer-area pt-58 gray-bg-3">
    <Footer />
</footer>
