@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Pages/Autorization/Login.razor.rz.scp.css */
@page
"/login"


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');


.container[b-zh7vmgfvro] {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/black2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.form[b-zh7vmgfvro] {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}

header[b-zh7vmgfvro] {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form[b-zh7vmgfvro] {
    margin-top: 30px;
}

.form .field[b-zh7vmgfvro] {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input[b-zh7vmgfvro],
.field button[b-zh7vmgfvro] {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input[b-zh7vmgfvro] {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

    .field input:focus[b-zh7vmgfvro] {
        border-bottom-width: 2px;
    }

.eye-icon[b-zh7vmgfvro] {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button[b-zh7vmgfvro] {
    color: #e7e7e7;
    background-color: #1a1a1a;
    transition: all 0.3s ease , color 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

    .field button:hover[b-zh7vmgfvro] {
        background-color: #232324;
        color: #fff;
    }

.form-link[b-zh7vmgfvro] {
    text-align: center;
    margin-top: 10px;
}

    .form-link span[b-zh7vmgfvro],
    .form-link a[b-zh7vmgfvro] {
        font-size: 14px;
        font-weight: 400;
        color: #232836;
    }

.form a[b-zh7vmgfvro] {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover[b-zh7vmgfvro] {
    text-decoration: underline;
}

.line[b-zh7vmgfvro] {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

    .line[b-zh7vmgfvro]::before {
        content: 'Or';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        color: #8b8b8b;
        padding: 0 15px;
    }

.media-options a[b-zh7vmgfvro] {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook[b-zh7vmgfvro] {
    color: #fff;
    background-color: #4267b2;
}

img.facebook-img[b-zh7vmgfvro],
img.google-img[b-zh7vmgfvro] {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img[b-zh7vmgfvro] {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

img.facebook-img[b-zh7vmgfvro] {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google[b-zh7vmgfvro] {
    border: 1px solid #CACACA;
}

    a.google span[b-zh7vmgfvro] {
        font-weight: 500;
        opacity: 0.8;
        color: #232836;
    }

@media screen and (max-width: 400px) {
    .form[b-zh7vmgfvro] {
        padding: 20px 10px;
    }
}
/* /Pages/Autorization/PasswordRecovery.razor.rz.scp.css */
@page

"/passwordrecovery"


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');


.container[b-298whx1gtg] {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/black2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.form[b-298whx1gtg] {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}

header[b-298whx1gtg] {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form[b-298whx1gtg] {
    margin-top: 30px;
}

.form .field[b-298whx1gtg] {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input[b-298whx1gtg],
.field button[b-298whx1gtg] {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input[b-298whx1gtg] {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

    .field input:focus[b-298whx1gtg] {
        border-bottom-width: 2px;
    }

.eye-icon[b-298whx1gtg] {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button[b-298whx1gtg] {
    color: #e7e7e7;
    background-color: #1a1a1a;
    transition: all 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

    .field button:hover[b-298whx1gtg] {
        background-color: #232324;
        color: #fff;
    }

.form-link[b-298whx1gtg] {
    text-align: center;
    margin-top: 10px;
}

    .form-link span[b-298whx1gtg],
    .form-link a[b-298whx1gtg] {
        font-size: 14px;
        font-weight: 400;
        color: #232836;
    }

.form a[b-298whx1gtg] {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover[b-298whx1gtg] {
    text-decoration: underline;
}

.line[b-298whx1gtg] {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

    .line[b-298whx1gtg]::before {
        content: 'Or';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        color: #8b8b8b;
        padding: 0 15px;
    }

.media-options a[b-298whx1gtg] {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook[b-298whx1gtg] {
    color: #fff;
    background-color: #4267b2;
}

img.facebook-img[b-298whx1gtg],
img.google-img[b-298whx1gtg] {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img[b-298whx1gtg] {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

img.facebook-img[b-298whx1gtg] {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google[b-298whx1gtg] {
    border: 1px solid #CACACA;
}

    a.google span[b-298whx1gtg] {
        font-weight: 500;
        opacity: 0.8;
        color: #232836;
    }

@media screen and (max-width: 400px) {
    .form[b-298whx1gtg] {
        padding: 20px 10px;
    }
}
/* /Pages/Autorization/Register.razor.rz.scp.css */
@page
"/registrarse"

@page
"/login"


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');


.container[b-aook30qp77] {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/black2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.form[b-aook30qp77] {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}

header[b-aook30qp77] {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form[b-aook30qp77] {
    margin-top: 30px;
}

.form .field[b-aook30qp77] {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input[b-aook30qp77],
.field button[b-aook30qp77] {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input[b-aook30qp77] {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

    .field input:focus[b-aook30qp77] {
        border-bottom-width: 2px;
    }

.eye-icon[b-aook30qp77] {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button[b-aook30qp77] {
    color: #e7e7e7;
    background-color: #1a1a1a;
    transition: all 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

    .field button:hover[b-aook30qp77] {
        background-color: #232324;
        color: #fff;
    }

.form-link[b-aook30qp77] {
    text-align: center;
    margin-top: 10px;
}

    .form-link span[b-aook30qp77],
    .form-link a[b-aook30qp77] {
        font-size: 14px;
        font-weight: 400;
        color: #232836;
    }

.form a[b-aook30qp77] {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover[b-aook30qp77] {
    text-decoration: underline;
}

.line[b-aook30qp77] {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

    .line[b-aook30qp77]::before {
        content: 'Or';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        color: #8b8b8b;
        padding: 0 15px;
    }

.media-options a[b-aook30qp77] {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook[b-aook30qp77] {
    color: #fff;
    background-color: #4267b2;
}

img.facebook-img[b-aook30qp77],
img.google-img[b-aook30qp77] {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img[b-aook30qp77] {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

img.facebook-img[b-aook30qp77] {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google[b-aook30qp77] {
    border: 1px solid #CACACA;
}

    a.google span[b-aook30qp77] {
        font-weight: 500;
        opacity: 0.8;
        color: #232836;
    }

@media screen and (max-width: 400px) {
    .form[b-aook30qp77] {
        padding: 20px 10px;
    }
}
