@page "/passwordrecovery"
@using Ecommerce.WebAssembly.Extensions;
@using Microsoft.AspNetCore.Components.Authorization;
@layout LoginLayout
@inject IUsuarioService _usuarioService
@inject NavigationManager _navServicio
@inject IToastService toastService
@inject AuthenticationStateProvider autenticacionProvider


    <div class="login-register-area pt-70 pb-75">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ms-auto me-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <a class="active" data-bs-toggle="tab">
                                <h4> Olvidé mi clave </h4>
                            </a>
                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <span>
                                        Ingrese su email y le enviaremos un enlace para restablecer su contraseña.
                                    </span>
                                    <div class="login-register-form">
                                        <EditForm Model="modelo" OnValidSubmit="SendEmail">
                                            <input id="inputEmail" type="email" name="email" placeholder="Email" @bind-value="modelo.Correo">
                                            <ValidationMessage For="@(()=>modelo.Correo)" />
                                                                                            
                                            <div class="button-box">
                                                <div class="login-toggle-btn">
                                                    <a href="registro">¿No tienes una cuenta? Registrarse</a>
                                                </div>
                                                <button type="submit"><span>Enviar</span></button>
                                            </div>
                                        </EditForm>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@code {
    private UsuarioDTO modelo = new UsuarioDTO();

    private async Task SendEmail()
    {
        var response = await _usuarioService.SendEmailForPasswordRecovery(modelo);

        if (response.IsCorrect)
        {
            toastService.ShowSuccess("Se envio correctamente");
        }
        else
        {
            toastService.ShowWarning(response.Message!);
        }
    }
}
