@page "/passwordrecovery"
@using Flowers.WebAssembly.Extensions;
@using Microsoft.AspNetCore.Components.Authorization;
@layout LoginLayout
@inject IUsuarioService _usuarioService
@inject NavigationManager _navServicio
@inject IToastService toastService
@inject AuthenticationStateProvider autenticacionProvider

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PasswordRecovery</title>

    <link rel="stylesheet" href="assets/css/autorization/PasswordRecovery.css" />
</head>
<body>
<section class="container">
    <div class="form">
        <div class="form-content">
            <header>Recuperacion de clave</header>
            <EditForm Model="modelo" OnValidSubmit="SendEmail">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div>
                    <span>
                        Ingrese su email y le enviaremos un enlace para restablecer su contraseña.
                    </span>
                </div>
                <div class="field input-field">
                    <input class="form-control" id="inputEmail" type="email" placeholder="Email" @bind-value="modelo.Correo" autocomplete="off" />
                    <ValidationMessage For="@(()=>modelo.Correo)" />
                </div>

                <div class="form-link">
                    <a href="/login" class="forgot-pass">Regresar al Login</a>
                </div>

                <div class="field button-field">
                    <button>Recuperar clave</button>
                </div>
            </EditForm>
            <div class="form-link">
                <span>¿No tienes una cuenta? <a href="/registro" class="link signup-link">Registrarse</a></span>
            </div>
        </div>
    </div>
</section>
</body>
</html>

@code {
    private UsuarioDTO modelo = new UsuarioDTO();
    //http://localhost:5201/passwordrecovery
    private async Task SendEmail()
    {
        //var response = await _usuarioService.SendEmail(modelo);

        //if (response.IsCorrect)
        //{
        //    toastService.ShowSuccess("Se envio correctamente");
        //}
        //else
        //{
        //    toastService.ShowWarning(response.Message!);
        }
    }


}
