@page "/catalogo"
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;

@inject IProductoService productoServicio;
@inject ICategoriaService categoriaServicio;
@inject ICarritoService carritoServicio;
@inject IWishlistService wishlistServicio
@inject IToastService toastService
@inject NavigationManager _navServicio
@inject AuthenticationStateProvider authenticationStateProvider;


<!doctype html>
<html lang="es">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Floreria Reynante</title>
        <meta name="description" content="">
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets2/img/favicon.png">
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets2/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets2/css/animate.css">
        <link rel="stylesheet" href="assets2/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets2/css/slick.css">
        <link rel="stylesheet" href="assets2/css/ionicons.min.css">
        <link rel="stylesheet" href="assets2/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets2/css/simple-line-icons.css">
        <link rel="stylesheet" href="assets2/css/jquery-ui.css">
        <link rel="stylesheet" href="assets2/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets2/css/style.css">
        <link rel="stylesheet" href="assets2/css/responsive.css">
    </head>
    <body>
        <div class="shop-page-area pt-75 pb-75">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="banner-area pb-30">
                            <a href="product-details.html"><img alt="" src="assets2/img/banner/banner-49.jpg"></a>
                        </div>
                        <div class="shop-topbar-wrapper">
                            <div class="shop-topbar-left">
                                <ul class="view-mode">
                                    <li class="active"><a href="#product-grid" data-view="product-grid"><i class="fa fa-th"></i></a></li>
                                    <li><a href="#product-list" data-view="product-list"><i class="fa fa-list-ul"></i></a></li>
                                </ul>
                                <p>Mostrando 1 - 20 de 30 resultados  </p>
                            </div>
                            <div class="product-sorting-wrapper">
                                <div class="product-shorting shorting-style">
                                    <label>View:</label>
                                    <select>
                                        <option value=""> 20</option>
                                        <option value=""> 23</option>
                                        <option value=""> 30</option>
                                    </select>
                                </div>
                                <div class="product-show shorting-style">
                                    <label>Ordenar por:</label>
                                    <select>
                                        <option value="">Defecto</option>
                                        <option value="">Nombre</option>
                                        <option value="">Precio</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="grid-list-product-wrapper">
                            <div class="product-grid product-view pb-20">
                                <div class="row">
                                @if (listaProducto != null && listaProducto.Any())
                                {
                                    foreach (var item in listaProducto)
                                            {
                                                <div class="product-width col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
                                                    <div class="product-wrapper">
                                                        <div class="product-img">
                                                            <a href="detalle/@item.IdProducto">
                                                                <img alt="product" width="266" height="296" src="@item.Imagen">
                                                            </a>
                                                            <span>-30%</span>
                                                            <div class="product-action">
                                                                <a class="action-wishlist" title="Wishlist" @onclick="(async() => await AgregarWishlist(item))">
                                                                    <i class="icon-heart"></i>
                                                                </a>
                                                                 <a class="action-cart" title="Add To Cart" @onclick="(async() => await AgregarCarrito(item))">
                                                                    <i class="icon-handbag"></i>
                                                                </a>
                                                                <a class="action-compare" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="(async() => await ShowQuickView(item))" title="Quick View">
                                                                    <i class="icon-magnifier-add"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="product-content text-center">
                                                            <h4>
                                                            <a href="detalle/@item.IdProducto">@item.Nombre</a>
                                                            </h4>
                                                            <div class="product-price-wrapper">
                                                                <span>$@item.Precio</span>
                                                                <span class="product-price-old">$@item.PrecioOferta </span>
                                                            </div>
                                                        </div>
                                                        <div class="product-list-details">
                                                            <h4>
                                                            <a href="detalle/@item.IdProducto">@item.Nombre</a>
                                                            </h4>
                                                            <div class="product-price-wrapper">
                                                        <span>$@item.Precio</span>
                                                        <span class="product-price-old">$@item.PrecioOferta </span>
                                                            </div>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                            <div class="shop-list-cart-wishlist">
                                                                <a @onclick="(async() => await AgregarWishlist(item))" title="Wishlist"><i class="icon-heart"></i></a>
                                                                <a @onclick="(async() => await AgregarCarrito(item))" title="Add To Cart"><i class="icon-handbag"></i></a>
                                                                <a class="action-compare" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="(async() => await ShowQuickView(item))" title="Quick View">
                                                                    <i class="icon-magnifier-add"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                            </div>
                            </div>
                            <div class="pagination-total-pages">
                                <div class="pagination-style">
                                    <ul>
                                        <li><a class="prev-next prev" href="#"><i class="ion-ios-arrow-left"></i> Anterior</a></li>
                                        <li><a class="active" href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">...</a></li>
                                        <li><a href="#">10</a></li>
                                        <li><a class="prev-next next" href="#">Siguiente<i class="ion-ios-arrow-right"></i> </a></li>
                                    </ul>
                                </div>
                                <div class="total-pages">
                                    <p>Mostrando 1 - 20 de 30 resultados  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="shop-sidebar-wrapper gray-bg-7 shop-sidebar-mrg">
                            <div class="shop-widget">
                                <h4 class="shop-sidebar-title">Comprar por Categorias</h4>
                                <div class="shop-catigory">
                                    <ul id="faq">
                                    @if (listaCategoria != null && listaCategoria.Any())
                                    {
                                        foreach (var item in listaCategoria)
                                        {
                                            <li> <a href="#">@item.Nombre</a> </li>
                                        }
                                    }
                                </ul>
                                </div>
                            </div>
                            <div class="shop-price-filter mt-40 shop-sidebar-border pt-35">
                                <h4 class="shop-sidebar-title">Filtrar por Precio</h4>
                                <div class="price_filter mt-25">
                                    <span>Rango:  $100.00 - 1.300.00 </span>
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input">
                                            <input type="text" id="amount" name="price"  placeholder="Añade tu precio" />
                                        </div>
                                        <button type="button">Filtrar</button> 
                                    </div>
                                </div>
                            </div>
                            <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                                <h4 class="shop-sidebar-title">Filtrar por Marca</h4>
                                <div class="sidebar-list-style mt-20">
                                    <ul>
                                        <li><input type="checkbox"><a href="#">Poure </a></li>
                                        <li><input type="checkbox"><a href="#">Eveman </a></li>
                                        <li><input type="checkbox"><a href="#">Iccaso </a></li>
                                        <li><input type="checkbox"><a href="#">Annopil </a></li>
                                        <li><input type="checkbox"><a href="#">Origina </a></li>
                                        <li><input type="checkbox"><a href="#">Perini  </a></li>
                                        <li><input type="checkbox"><a href="#">Dolloz </a></li>
                                        <li><input type="checkbox"><a href="#">Spectry </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                                <h4 class="shop-sidebar-title">Filtrar por Color</h4>
                                <div class="sidebar-list-style mt-20">
                                    <ul>
                                        <li><input type="checkbox"><a href="#">Black </a></li>
                                        <li><input type="checkbox"><a href="#">Blue </a></li>
                                        <li><input type="checkbox"><a href="#">Green </a></li>
                                        <li><input type="checkbox"><a href="#">Grey </a></li>
                                        <li><input type="checkbox"><a href="#">Red</a></li>
                                        <li><input type="checkbox"><a href="#">White  </a></li>
                                        <li><input type="checkbox"><a href="#">Yellow   </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                                <h4 class="shop-sidebar-title">Comparar Productos</h4>
                                <div class="compare-product">
                                    <p>No tiene productos para comparar. </p>
                                    <div class="compare-product-btn">
                                        <span>Limpiar </span>
                                        <a href="#">Comparar <i class="fa fa-check"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                                <h4 class="shop-sidebar-title">Etiquetas Populares</h4>
                                <div class="shop-tags mt-25">
                                    <ul>
                                        <li><a href="#">Bouquet</a></li>
                                        <li><a href="#">Event</a></li>
                                        <li><a href="#">Gift</a></li>
                                        <li><a href="#">Joy</a></li>
                                        <li><a href="#">Love </a></li>
                                        <li><a href="#">Special</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <!-- Thumbnail Large Image start -->
                                <div class="tab-content">
                                    <div id="pro-1" class="tab-pane fade show active">
                                        <img src="assets2/img/product-details/product-detalis-l1.jpg" alt="">
                                    </div>
                                    <div id="pro-2" class="tab-pane fade">
                                        <img src="assets2/img/product-details/product-detalis-l2.jpg" alt="">
                                    </div>
                                    <div id="pro-3" class="tab-pane fade">
                                        <img src="assets2/img/product-details/product-detalis-l3.jpg" alt="">
                                    </div>
                                    <div id="pro-4" class="tab-pane fade">
                                        <img src="assets2/img/product-details/product-detalis-l4.jpg" alt="">
                                    </div>
                                </div>
                                <!-- Thumbnail Large Image End -->
                                <!-- Thumbnail Image End -->
                                <div class="product-thumbnail">
                                    <div class="thumb-menu owl-carousel nav nav-style" role="tablist">
                                        <button class="active" data-bs-toggle="tab" data-bs-target="#pro-1"><img src="assets2/img/product-details/product-detalis-s1.jpg" alt=""></button>
                                        <button data-bs-toggle="tab" data-bs-target="#pro-2"><img src="assets2/img/product-details/product-detalis-s2.jpg" alt=""></button>
                                        <button data-bs-toggle="tab" data-bs-target="#pro-3"><img src="assets2/img/product-details/product-detalis-s3.jpg" alt=""></button>
                                        <button data-bs-toggle="tab" data-bs-target="#pro-4"><img src="assets2/img/product-details/product-detalis-s4.jpg" alt=""></button>
                                    </div>
                                </div>
                                <!-- Thumbnail image end -->
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="modal-pro-content">
                                    <h3>@modalProducto?.Nombre</h3>
                                    <div class="product-price-wrapper">
                                    <span class="product-price-old">$@modalProducto?.Precio</span>
                                    <span>$@modalProducto?.PrecioOferta</span>
                                    </div>
                                <p>@modalProducto?.Descripcion</p>
                                <div class="quick-view-select">
                                        <div class="select-option-part">
                                            <label>* Tamaño</label>
                                            <select class="select">
                                                <option value="">S</option>
                                                <option value="">M</option>
                                                <option value="">L</option>
                                            </select>
                                        </div>
                                        <div class="quickview-color-wrap">
                                            <label>* Color</label>
                                            <div class="quickview-color">
                                                <ul>
                                                    <li class="blue">b</li>
                                                    <li class="red">r</li>
                                                    <li class="pink">p</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="01">
                                        </div>
                                    <button @onclick="(async() => await AgregarCarrito(modalProducto))">Agregar al carrito</button>
                                    </div>
                                    <span><i class="fa fa-check"></i> En Stock</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->
    </body>
</html>


@code {
    private List<CategoriaDTO>? listaCategoria = null;
    private List<ProductoDTO>? listaProducto = null;
    private string buscar = "";
    private string categoriaSeleccionada = "Todos";
    private ProductoDTO? modalProducto;

    private async Task ShowQuickView(ProductoDTO modelo)
    {
        modalProducto = modelo;
    }

    private async Task ObtenerCategorias(string Valor = "")
    {
        var response = await categoriaServicio.List(Valor);

        if (response.IsCorrect)
        {
            listaCategoria = (List<CategoriaDTO>)response.Result!;
        }
        else
        {
            listaCategoria = new List<CategoriaDTO>();
        }
    }
    
    private async Task ObtenerCatalogo()
    {
        var response = await productoServicio.Catalogue(categoriaSeleccionada, buscar);

        if (response.IsCorrect)
        {
            listaProducto = (List<ProductoDTO>)response.Result!;
        }
        else
        {
            listaProducto = new List<ProductoDTO>();
        }
    }

    private async Task RadioSeleccion(ChangeEventArgs args)
    {
        categoriaSeleccionada = args.Value.ToString();
        buscar = "";
        await ObtenerCatalogo();
    }

    protected override async Task OnInitializedAsync()
    {
        await ObtenerCategorias();
        await ObtenerCatalogo();
    }

    private async Task AgregarWishlist(ProductoDTO modelo)
    {
        var autenticacionState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var usuarioLogueado = autenticacionState.User;

        if (usuarioLogueado.Identity?.IsAuthenticated ?? false)
        {
            var idUsuario = usuarioLogueado.FindFirst(ClaimTypes.NameIdentifier)?.Value;

            if (int.TryParse(idUsuario, out int idUsuarioInt))
            {
                WishlistDTO wishlist = new WishlistDTO()
                    {
                        IdUsuario = idUsuarioInt,
                        IdProducto = modelo.IdProducto,
                        FechaCreacion = DateTime.Now
                    };

                await wishlistServicio.Add(wishlist);
                toastService.ShowSuccess("Producto agregado a la lista de deseos");
            }
            else
            {
                // Manejo de error si no se pudo obtener el ID del usuario
                toastService.ShowError("No se pudo obtener el ID del usuario");
            }
        }
        else
        {
            // Manejo de error si el usuario no está autenticado
            toastService.ShowError("El usuario no se encuentra autenticado");
            _navServicio.NavigateTo("/login");
        }
    }

    private async Task AgregarCarrito(ProductoDTO modelo)
    {
        decimal? precioFinal = (modelo.PrecioOferta != 0 && modelo.PrecioOferta < modelo.Precio) ? modelo.PrecioOferta : modelo.Precio;
        CarritoDTO carrito = new CarritoDTO()
            {
                Producto = modelo,
                Cantidad = 1,
                Precio = precioFinal,
                Total = precioFinal
            };
        await carritoServicio.AddCarrito(carrito);
    }
}