@page "/users"

@inject IUsuarioService usuarioService;
@inject IToastService toastService;
@inject SweetAlertService Swal;
@inject NavigationManager _navService;

@attribute [Authorize(Roles = "Administrador")];

<body id="page-top">
    <div id="wrapper">

        <Ecommerce.Frontend.Shared.AdminLateralMenu />

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <Ecommerce.Frontend.Shared.AdminNavMenu />

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>
                    <p class="mb-4">
                        Desde aquí puede realizar la administración de usuarios del sistema.
                    </p>

                    <!-- Create & Search -->
                    <div class="row justify-content-center  mt-3">
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <RadzenButton Click="@(() => GoToCreateUser())" Text="Nuevo usuario" Icon="add" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" />
                        </div>

                        <div class="col-sm-6 col-md-8 col-xl-9 mb-4">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Buscar usuario..." @bind-value="buscar">
                                <button class="btn btn-outline-secondary" type="button" @onclick="(async()=> await GetUsuarios(buscar))">
                                    <i class="oi oi-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Users Table -->
                    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                    Data="@employees" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedEmployees>
                        <Columns>
                            <RadzenDataGridColumn TItem="UsuarioDTO" Property="IdUsuario" Filterable="false" Title="# Id" Frozen="true" Width="50px" TextAlign="TextAlign.Center" />
                            <RadzenDataGridColumn TItem="UsuarioDTO" Property="NombreCompleto" Title="Nombre" Frozen="true" Width="150px" />
                            <RadzenDataGridColumn TItem="UsuarioDTO" Property="Correo" Title="Correo" Width="150px" />
                            <RadzenDataGridColumn TItem="UsuarioDTO" Property="Rol" Title="Rol" Width="150px" />
                            <RadzenDataGridColumn TItem="UsuarioDTO" Title="Acción" Width="150px">
                                    <Template Context="context">
                                <a class="col-5 btn btn-sm btn-outline-primary mt-auto" href="/user/@context.IdUsuario"><i class="oi oi-pencil fs-5"></i></a>
                                <button class="col-5 btn btn-sm btn-outline-danger mt-auto" type="button" @onclick="(async () => await Delete(context))">
                                    <i class="oi oi-trash fs-5"></i>
                                </button>
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
        </div>
    </div>
</body>

@code {
    private string buscar = "";
    IEnumerable<UsuarioDTO>? employees;
    IList<UsuarioDTO>? selectedEmployees;

    private async Task GetUsuarios(string Valor = "")
    {
        var response = await usuarioService.List("Administrador", Valor);
        if (response.IsCorrect)
        {
            employees = (List<UsuarioDTO>)response.Result!;
        }
        else
        {
            employees = new List<UsuarioDTO>();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetUsuarios();
        selectedEmployees = new List<UsuarioDTO>() { employees.FirstOrDefault() };
    }

    private async Task Delete(UsuarioDTO model)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Esta seguro?",
                Text = $"Eliminar usuario: {model.NombreCompleto}",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si, eliminar",
                CancelButtonText = "No, volver"
            });

        if (result.IsConfirmed)
        {
            var response = await usuarioService.Delete(model.IdUsuario);

            if (response.IsCorrect)
            {
                await GetUsuarios();
                toastService.ShowSuccess("Usuario fue eliminado");
            }
            else
                toastService.ShowSuccess(response.Message!);
        }
    }

    private async Task GoToCreateUser()
    {
        _navService.NavigateTo("/user");
    }
}