@page "/nosotros"

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="assets/css/pages/contact.css" rel="stylesheet" />
</head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">
                                Misión de floreria Reynante: Inspirando Belleza Natural
                            </h1>
                            <p class="lead fw-normal text-muted mb-4">En Reynante, nos dedicamos a brindar experiencias excepcionales a través de la belleza natural de las flores y macetas. Nuestra misión es convertir cada espacio en un oasis de serenidad, al traer la frescura y la vitalidad de la naturaleza a tu hogar y vida diaria.</p>
                            <a class="btn btn-dark btn-lg" href="nosotros/#scroll-target">Nuestra historia</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
        <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/images/1.jpg" alt="flores about 1" /></div>
                        <div class="col-lg-6">
                        <h2 class="fw-bolder" >Nuestra historia</h2>
                        <p class="lead fw-normal text-muted mb-0">
                            Somos un grupo de amantes de la naturaleza y apasionados por la jardinería que se unieron con un sueño compartido:
                            compartir la belleza y la alegría que las flores y las plantas pueden traer a nuestras vidas diarias.
                            Así nació floreria Reynante.
                        </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/images/2.jpg" alt="flores about 2" /></div>
                        <div class="col-lg-6">
                        <h2 class="fw-bolder">Variedad de Macetas y Plantas</h2>
                        <p class="lead fw-normal text-muted mb-0"> Ofrecemos una amplia variedad de macetas y plantas, desde las clásicas hasta las más modernas, para que encuentres la combinación perfecta que refleje tu estilo y personalidad.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Nuestro equipo</h2>
                    <p class="lead fw-normal text-muted mb-5">Nos enorgullece ofrecer un servicio personalizado y atención al cliente excepcional. 
                        Nuestro equipo apasionado está aquí para ayudarte a elegir el regalo perfecto, diseñar arreglos personalizados y 
                        brindarte consejos expertos sobre cuidado de plantas.</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/images/team1.jpg" alt="team 1" />
                                <h5 class="fw-bolder">Leonard Hofstadter</h5>
                                <div class="fst-italic text-muted">Propietario</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="assets/images/team2.jpg" alt="team 2" />
                                <h5 class="fw-bolder">Howar Wolowitz</h5>
                                <div class="fst-italic text-muted">Propietario</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
