@page "/nosotros"

<!doctype html>
<html lang="es">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Floreria Reynante</title>
        <meta name="description" content="">
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets2/img/favicon.png">
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets2/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets2/css/animate.css">
        <link rel="stylesheet" href="assets2/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets2/css/slick.css">
        <link rel="stylesheet" href="assets2/css/ionicons.min.css">
        <link rel="stylesheet" href="assets2/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets2/css/simple-line-icons.css">
        <link rel="stylesheet" href="assets2/css/jquery-ui.css">
        <link rel="stylesheet" href="assets2/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets2/css/style.css">
        <link rel="stylesheet" href="assets2/css/responsive.css">
    </head>
    <body>
        <div class="about-us-area pt-80 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 d-flex align-items-center">
                        <div class="overview-content-2">
                            <h2>Bienvenido a <span>Floreria Reynante</span></h2>
                        <p class="peragraph-blog">En Floreria Reynante, nos dedicamos a brindar experiencias excepcionales a través de la belleza natural de las flores y macetas. Nuestra misión es convertir cada espacio en un oasis de serenidad, al traer la frescura y la vitalidad de la naturaleza a tu hogar y vida diaria.</p>
                        <p>
                            Somos un grupo de amantes de la naturaleza y apasionados por la jardinería que se unieron con un sueño compartido:
                            compartir la belleza y la alegría que las flores y las plantas pueden traer a nuestras vidas diarias.
                            Así nació floreria Reynante.
                        </p>
                            <div class="overview-btn mt-45">
                                <a class="btn-style-2" href="catalogo">Comprar ahora</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="overview-img text-center">
                            <a href="#">
                                <img src="assets2/img/banner/about-us.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-count-area gray-bg pt-100 pb-70">
			<div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-count text-center mb-30">
                            <div class="count-icon">
                                <span class="ion-ios-briefcase-outline"></span>
                            </div>
                            <div class="count-title">
                                <h2 class="count">360</h2>
                                <span>Proyectos finalizados</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-count text-center mb-30">
                            <div class="count-icon">
                                <span class="ion-ios-wineglass-outline"></span>
                            </div>
                            <div class="count-title">
                                <h2 class="count">690</h2>
                                <span>Eventos realizados</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-count text-center mb-30">
                            <div class="count-icon">
                                <span class="ion-ios-lightbulb-outline"></span>
                            </div>
                            <div class="count-title">
                                <h2 class="count">420</h2>
                                <span>Iniciativas</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-count text-center mb-30 mrgn-none">
                            <div class="count-icon">
                                <span class="ion-happy-outline"></span>
                            </div>
                            <div class="count-title">
                                <h2 class="count">100</h2>
                                <span>Clientes Felices</span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
       <div class="team-area pt-75 pb-50">
            <div class="container">
                <div class="text-center mb-40">
                    <h4 class="section-title-about">Miembros del Equipo</h4>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <a href="#">
                                    <img src="assets2/img/team/team-1.jpg" alt="">
                                </a>
                                <div class="team-action">
                                    <a class="action-plus facebook" href="#">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                    <a class="action-heart twitter" title="Wishlist" href="#">
                                        <i class="ion-social-twitter"></i>
                                    </a>
                                    <a class="action-cart instagram" href="#">
                                        <i class="ion-social-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Mr.Mike Banding</h4>
                                <span>Manager </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img src="assets2/img/team/team-3.jpg" alt="">
                                </a>
                                <div class="team-action">
                                    <a class="action-plus facebook" href="#">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                    <a class="action-heart twitter" title="Wishlist" href="#">
                                        <i class="ion-social-twitter"></i>
                                    </a>
                                    <a class="action-cart instagram" href="#">
                                        <i class="ion-social-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Mr.Peter Pan</h4>
                                <span>Developer </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <a href="#">
                                    <img src="assets2/img/team/team-2.jpg" alt="">
                                </a>
                                <div class="team-action">
                                    <a class="action-plus facebook" href="#">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                    <a class="action-heart twitter" title="Wishlist" href="#">
                                        <i class="ion-social-twitter"></i>
                                    </a>
                                    <a class="action-cart instagram" href="#">
                                        <i class="ion-social-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Ms.Sophia</h4>
                                <span>Designer </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img src="assets2/img/team/team-4.jpg" alt="">
                                </a>
                                <div class="team-action">
                                    <a class="action-plus facebook" href="#">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                    <a class="action-heart twitter" title="Wishlist" href="#">
                                        <i class="ion-social-twitter"></i>
                                    </a>
                                    <a class="action-cart instagram" href="#">
                                        <i class="ion-social-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Mr.John Lee</h4>
                                <span>Chairmen </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-area bg-img pt-120 pb-115" style="background-image:url(assets2/img/bg/bg-1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ms-auto col-12">
                        <div class="testimonial-active owl-carousel">
                            <div class="single-testimonial text-center">
                                <div class="testimonial-img">
                                    <img alt="" src="assets2/img/icon-img/testi.png">
                                </div>
                                <p>When a beautiful design is combined with powerful technology,<br> it truly is an artwork. I love how my website operates and looks with this theme. <br>Thank you for the awesome product. </p>
                                <h4>Samia Robiul</h4>
                            </div>
                            <div class="single-testimonial text-center">
                                <div class="testimonial-img">
                                    <img alt="" src="assets2/img/icon-img/testi.png">
                                </div>
                                <p>“ Lorem ipsum dolor sit, con adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br>exercitati ullamco laboris  ” </p>
                                <h4> Tayeb Rayed</h4>
                            </div>
                            <div class="single-testimonial text-center">
                                <div class="testimonial-img">
                                    <img alt="" src="assets2/img/icon-img/testi.png">
                                </div>
                                <p>When a beautiful design is combined with powerful ,<br> technology it truly is an artwork. I love how my website operates and looks with this  <br>theme. Thank you for the awesome product. </p>
                                <h4>Hamim Ahamed</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-logo-area ptb-75">
            <div class="container">
                <div class="brand-logo-active owl-carousel">
                    <div class="single-brand-logo">
                        <img alt="" src="assets2/img/brand-logo/logo-1.png">
                    </div>
                    <div class="single-brand-logo">
                        <img alt="" src="assets2/img/brand-logo/logo-2.png">
                    </div>
                    <div class="single-brand-logo">
                        <img alt="" src="assets2/img/brand-logo/logo-3.png">
                    </div>
                    <div class="single-brand-logo">
                        <img alt="" src="assets2/img/brand-logo/logo-4.png">
                    </div>
                    <div class="single-brand-logo">
                        <img alt="" src="assets2/img/brand-logo/logo-5.png">
                    </div>
                    <div class="single-brand-logo">
                        <img alt="" src="assets2/img/brand-logo/logo-2.png">
                    </div>
                </div>
            </div>
        </div>                
    </body>
</html>