@page "/contacto"

@inject NavigationManager NavigationManager

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="assets/css/pages/contact.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="ri-mail-line"></i></div>
                            <h1 class="fw-bolder">Contacto</h1>
                            <p class="lead fw-normal text-muted mb-0">Nos encantaria escuchar de usted</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                            <form id="contactForm" action="https://formsubmit.co/r.damian.boz@gmail.com" method="POST">
                                    <!-- Name input-->
                                    <div class="form-floating mb-3">
                                    <input class="form-control" id="name" name="name" type="text" placeholder="Ingrese su nombre..." required />
                                        <label for="name">Nombre completo</label>
                                    </div>
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                    <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" required />
                                        <label for="email">Email</label>
                                    </div>
                                    <!-- Phone number input-->
                                    <div class="form-floating mb-3">
                                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="09X XXX XXX" required />
                                        <label for="phone">Número de teléfono</label>
                                    </div>
                                    <!-- Message input-->
                                    <div class="form-floating mb-3">
                                    <textarea class="form-control" id="message" name="message" type="text" placeholder="Ingrese su mensaje..." style="height: 10rem" required></textarea>
                                        <label for="message">Mensaje</label>
                                    </div>
                                <input type="hidden" name="_next" value="@(baseUrl)gracias">
                                    <input type="hidden" name="_subject" value="Formulario de contacto Reynante Floreria">
                                    <input type="hidden" name="_captcha" value="false">
                                    <!-- Submit Button-->
                                <div class="d-grid"><button class="btn btn-dark btn-lg" id="submitButton" type="submit">Enviar</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Contact cards-->
                    <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                        <div class="col">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="ri-whatsapp-line"></i></div>
                            <div class="h5 mb-2">Chatea con nosotros</div>
                        <p class="text-muted mb-0">Comunicate con nosotros a traves de nuestras redes sociales.</p>
                        </div>
                        <div class="col">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="ri-community-line"></i></div>
                        <div class="h5">Pregunta a la comunidad</div>
                        <p class="text-muted mb-0">Explora los foros de nuestra comunidad y comunícate con otros usuarios.</p>
                        </div>
                        <div class="col">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="ri-questionnaire-line"></i></div>
                            <div class="h5">Centro de soporte</div>
                        <p class="text-muted mb-0">Explore las preguntas frecuentes y los artículos de soporte para encontrar soluciones.</p>
                        </div>
                        <div class="col">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="ri-phone-line"</i></div>
                            <div class="h5">Llamenos</div>
                        <p class="text-muted mb-0">Llámenos durante el horario comercial normal al 094 391 883.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>

@code{
    private string baseUrl = "";

    protected override void OnInitialized()
    {
        baseUrl = NavigationManager.BaseUri;
        base.OnInitialized();
    }
}