@page "/contacto"

@inject NavigationManager NavigationManager


<!doctype html>
<html lang="es">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Phuler - Flower eCommerce Bootstrap 5 Template</title>
        <meta name="description" content="">
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/simple-line-icons.css">
        <link rel="stylesheet" href="assets/css/jquery-ui.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
    <body>
        <div class="contact-us ptb-68">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-page-title mb-40">
                            <h1>
                                Hi, Howdy
                                <br>
                                Let’s Connect us
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="contact-tab-list nav">
                            <li><a class="active" href="#contact-address" data-bs-toggle="tab">Contact us</a></li>
                            <li><a  href="#contact-form-tab" data-bs-toggle="tab">Leave us a message</a></li>
                            <li><a href="#store-location" data-bs-toggle="tab">Our location</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-content tab-content-contact">
                            <div id="contact-address" class="tab-pane fade row d-flex active show">
                                <div class="col-lg-4 col-md-4">
                                    <div class="contact-information">
                                        <h4>Address</h4>
                                        <p>You address will be here Lorem Ipsum text</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="contact-information contact-mrg">
                                        <h4>Phone</h4>
                                        <p>
                                            <a href="tel:01234567890">01234 567 890</a>
                                            <a href="tel:01234567891">01234 567 891</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="contact-information contact-mrg">
                                        <h4>Web</h4>
                                        <p>
                                            <a href="mailto:info@example.com">info@example.com</a>
                                            <a href="#">www.example.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="contact-form-tab" class="tab-pane fade row d-flex">
                                <div class="col">
                                    <form id="contact-form" action="https://htmldemo.net/phuler/phuler/assets/mail.php" method="post">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="contact-form-style mb-20">
                                                    <input name="name" placeholder="Full Name" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="contact-form-style mb-20">
                                                    <input name="email" placeholder="Email Address" type="email">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="contact-form-style mb-20">
                                                    <input name="subject" placeholder="Subject" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="contact-form-style">
                                                    <textarea name="message" placeholder="Message"></textarea>
                                                    <button class="submit" type="submit">SEND MESSAGE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                            <div id="store-location" class="tab-pane fade row d-flex">
                                <div class="col-12">
                                    <div class="contact-map">
                                        <iframe class="map-size"
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.693667617067!2d144.946279515845!3d-37.82064364221098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4cee0cec83%3A0xd019c5f69915a4a0!2sCollins%20St%2C%20West%20Melbourne%20VIC%203003%2C%20Australia!5e0!3m2!1sen!2sbd!4v1607512676761!5m2!1sen!2sbd">
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>




@*<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="assets/css/pages/contact.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="ri-mail-line"></i></div>
                            <h1 class="fw-bolder">Contacto</h1>
                            <p class="lead fw-normal text-muted mb-0">Nos encantaria escuchar de usted</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                            <form id="contactForm" action="https://formsubmit.co/r.damian.boz@gmail.com" method="POST">
                                    <!-- Name input-->
                                    <div class="form-floating mb-3">
                                    <input class="form-control" id="name" name="name" type="text" placeholder="Ingrese su nombre..." required />
                                        <label for="name">Nombre completo</label>
                                    </div>
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                    <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" required />
                                        <label for="email">Email</label>
                                    </div>
                                    <!-- Phone number input-->
                                    <div class="form-floating mb-3">
                                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="09X XXX XXX" required />
                                        <label for="phone">Número de teléfono</label>
                                    </div>
                                    <!-- Message input-->
                                    <div class="form-floating mb-3">
                                    <textarea class="form-control" id="message" name="message" type="text" placeholder="Ingrese su mensaje..." style="height: 10rem" required></textarea>
                                        <label for="message">Mensaje</label>
                                    </div>
                                <input type="hidden" name="_next" value="@(baseUrl)gracias">
                                    <input type="hidden" name="_subject" value="Formulario de contacto Reynante Floreria">
                                    <input type="hidden" name="_captcha" value="false">
                                    <!-- Submit Button-->
                                <div class="d-grid"><button class="btn btn-dark btn-lg" id="submitButton" type="submit">Enviar</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Contact cards-->
                    <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                        <div class="col">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="ri-whatsapp-line"></i></div>
                            <div class="h5 mb-2">Chatea con nosotros</div>
                        <p class="text-muted mb-0">Comunicate con nosotros a traves de nuestras redes sociales.</p>
                        </div>
                        <div class="col">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="ri-community-line"></i></div>
                        <div class="h5">Pregunta a la comunidad</div>
                        <p class="text-muted mb-0">Explora los foros de nuestra comunidad y comunícate con otros usuarios.</p>
                        </div>
                        <div class="col">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="ri-questionnaire-line"></i></div>
                            <div class="h5">Centro de soporte</div>
                        <p class="text-muted mb-0">Explore las preguntas frecuentes y los artículos de soporte para encontrar soluciones.</p>
                        </div>
                        <div class="col">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="ri-phone-line"</i></div>
                            <div class="h5">Llamenos</div>
                        <p class="text-muted mb-0">Llámenos durante el horario comercial normal al 094 391 883.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
*@
@code{
    private string baseUrl = "";

    protected override void OnInitialized()
    {
        baseUrl = NavigationManager.BaseUri;
        base.OnInitialized();
    }
}