@inherits LayoutComponentBase

<body>
<header class="header-area clearfix">
    <BlazoredToasts />
    <NavMenu />
</header>
    <div class="breadcrumb-area gray-bg">
        <BreadCrumb />
    </div>

        @Body

<footer class="footer-area pt-58 gray-bg-3">
    <Footer />
</footer>
</body>