

/*---------------------------
    8. Checkout page
-----------------------------*/

.panel.panel-default {
    border: 1px solid #ebebeb;
    margin-bottom: 20px;
}

h5.panel-title {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ebebeb;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    position: relative;
    text-transform: uppercase;
}

    h5.panel-title a {
        color: #242424;
        display: block;
        padding: 20px 55px;
        position: relative;
    }

        h5.panel-title a:hover {
            color: #ff3d2a;
        }

        h5.panel-title a::before {
            color: #242424;
            content: "ï˜";
            display: inline-block;
            font-family: "Ionicons";
            font-size: 15px;
            position: absolute;
            right: 10px;
            top: 19px;
        }

        h5.panel-title a.collapsed::after {
            color: #666666;
            content: "ï";
            display: inline-block;
            font-family: "Ionicons";
            font-size: 12px;
            position: absolute;
            right: 10px;
            top: 21px;
        }

        h5.panel-title a.collapsed::before {
            display: none;
        }

    h5.panel-title span {
        color: #242424;
        font-size: 14px;
        left: 20px;
        position: absolute;
        top: 20px;
    }

.checkout-register h4.cart-bottom-title,
.checkout-login h4.cart-bottom-title {
    font-size: 13px;
}

.register-us ul li {
    color: #242424;
    list-style: outside none none;
    margin: 0 0 7px;
}

    .register-us ul li input {
        background: #d7d7d7 none repeat scroll 0 0;
        border: 1px solid #d7d7d7;
        height: 13px;
        margin: 0 10px 0 0;
        padding: 0;
        position: relative;
        top: 2px;
        width: 13px;
    }

.register-us > ul {
    padding: 7px 0 16px 13px;
}

.checkout-register > h6 {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.register-us-2 > p {
    color: #242424;
    margin: 0;
}

.register-us-2 li {
    color: #242424;
    list-style: outside none none;
    margin: 0 0 9px;
    position: relative;
}

.register-us-2 {
    margin: 15px 0 21px;
}

    .register-us-2 > ul {
        padding: 9px 0 0 13px;
    }

.checkout-register > a {
    background-color: #f2f2f2;
    color: #242424;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 17px 35px 16px;
    text-transform: uppercase;
    border-radius: 3px;
}

#payment-1 .panel-body {
    padding: 30px 20px;
}

.checkout-login > p {
    margin: 16px 0 7px;
}

.checkout-login > span {
    color: #242424;
    display: block;
    margin: 0 0 7px;
}

.login-form > label {
    color: #242424;
    font-size: 14px;
    margin: 0 0 10px;
}

.login-form input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    color: #242424;
    height: 40px;
    padding: 0 10px;
}

.login-form {
    margin: 0 0 12px;
}

.login-forget {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 28px;
}

    .login-forget > a {
        color: #242424;
    }

        .login-forget > a:hover {
            color: #ff3d2a;
        }

    .login-forget > p {
        color: #ff3d2a;
        margin: 0;
    }

.checkout-login-btn > a {
    background-color: #f2f2f2;
    color: #242424;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 16px 62px 17px;
    text-transform: uppercase;
    border-radius: 3px;
}

.billing-btn > button {
    background-color: #f2f2f2;
    border: medium none;
    border-radius: 3px;
    color: #242424;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 17px 35px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease 0s;
}

    .checkout-login-btn > a:hover,
    .checkout-register > a:hover,
    .billing-btn > button:hover {
        background-color: #ff3d2a;
        color: #fff;
    }

.checkout-progress > h4 {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ebebeb;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 21px 23px 20px;
    text-transform: uppercase;
}

.checkout-progress {
    background-color: #fff;
    border: 1px solid #ebebeb;
}

    .checkout-progress > ul {
        padding: 18px 23px 36px;
    }

    .checkout-progress li {
        color: #242424;
        font-size: 14px;
        list-style: outside none none;
        padding-bottom: 14px;
    }

        .checkout-progress li:last-child {
            border-bottom: 0px solid #eaeaea;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }

.billing-information-wrapper,
.shipping-information-wrapper,
.shipping-method-wrapper,
.payment-info-wrapper,
.order-review-wrapper {
    background-color: #fff;
    padding: 30px 20px;
}

.billing-info > label {
    color: #242424;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.billing-info input,
.billing-select select {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    color: #242424;
    height: 40px;
    padding: 0 15px;
}

.billing-select select {
    background: #fff url("../../images/png/shop.png") no-repeat scroll right 10px center;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.billing-info {
    margin-bottom: 20px;
}

.single-ship > input {
    display: inline-block;
    float: left;
    height: inherit;
    margin-right: 10px;
    margin-top: 5px;
    width: inherit;
}

.single-ship label {
    color: #242424;
}

.single-ship {
    margin-bottom: 5px;
}

.ship-wrapper {
    margin-top: 20px;
}

.billing-back-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.billing-back > a {
    color: #242424;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0 0;
    text-transform: uppercase;
}

    .billing-back > a:hover {
        color: #ff3d2a;
    }

    .billing-back > a i {
        bottom: -1px;
        color: #ff3d2a;
        font-size: 18px;
        position: relative;
    }

.shipping-info-2 > span {
    color: #242424;
    display: block;
    font-size: 14px;
    margin-bottom: 9px;
}

.shipping-information-wrapper > span:last-child {
    margin-bottom: 0px;
}

.shipping-info-2 {
    margin-bottom: 10px;
}

.shipping-method > p {
    color: #242424;
    font-size: 15px;
    margin: 0 0 5px;
}

.expiration-date {
    margin-bottom: 20px;
}

.order-review table thead tr th {
    border: 1px solid #ebebeb;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}

.o-pro-dec p {
    color: #242424;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.order-review table tbody tr td {
    border: 1px solid #eaeaea;
}

.o-pro-price,
.o-pro-qty,
.o-pro-subtotal {
    text-align: center;
}

    .o-pro-price p,
    .o-pro-qty p,
    .o-pro-subtotal p {
        color: #242424;
        letter-spacing: 0.2px;
        font-size: 15px;
    }

.order-review table tfoot {
    margin-top: 20px;
}

    .order-review table tfoot tr {
        border-bottom: 0 solid #f2f2f2;
    }

        .order-review table tfoot tr td {
            border-right: 0 solid #f2f2f2;
            border-top: 0 solid #f2f2f2;
            color: #242424;
            font-size: 15px;
            padding: 6px 5px 2px;
            text-align: right;
        }

.billing-back-btn > span {
    color: #454545;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: 10px;
}

    .billing-back-btn > span a {
        color: #ff3d2a;
    }

        .billing-back-btn > span a:hover {
            text-decoration: underline;
        }

.edit-address > a {
    color: #242424;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

    .edit-address > a:hover {
        color: #ff3d2a;
    }


















/*-- 
   17. Checkout Page Css
------------------------------*/
/*.coupon-accordion h3 {
    background: #f6f6f6;
    border-top: 3px solid #ff5151;
    color: #515151;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 30px;
    padding: 1em 2em 1em 3.5em;
    position: relative;
    text-transform: capitalize;
}

    .coupon-accordion h3 .coupon {
        color: #ff5151;
        cursor: pointer;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

        .coupon-accordion h3 .coupon:hover {
            color: #000000;
        }

.coupon-content {
    border: 1px solid #dddddd;
    margin-bottom: 30px;
    padding: 20px;
    display: none;
}

.coupon-info p.form-row-first {
    float: left;
    width: 48%;
}

@media only screen and (max-width: 479px) {
    .coupon-info p.form-row-first {
        width: 100%;
    }
}

.coupon-info p.form-row-last {
    float: right;
    width: 48%;
}

@media only screen and (max-width: 479px) {
    .coupon-info p.form-row-last {
        width: 100%;
    }
}

.coupon-info .remember {
    margin-left: 10px;
}

    .coupon-info .remember span {
        margin-left: 5px;
    }

.coupon-input label {
    display: block;
    font-size: 14px;
}

.coupon-input input {
    border: 1px solid #999999;
    color: #000000;
    padding: 5px 10px;
    width: 100%;
    font-size: 14px;
}

.coupon-input span.required {
    color: red;
}

.checkout-coupon input {
    border: 1px solid #999999;
    color: #555;
    padding: 5px 10px;
    width: auto;
}

    .checkout-coupon input:focus {
        outline: none;
    }

.checkout-coupon .button-apply-coupon {
    margin: -5px 0 0 10px;
    padding: 7.2px 11px;
}

@media only screen and (max-width: 479px) {
    .checkout-coupon .button-apply-coupon {
        margin: 10px 0 0 0px;
    }
}

.shoping-checkboxt-title {
    border-bottom: 1px solid #dddddd;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.single-form-row {
    margin-bottom: 20px !important;
}

    .single-form-row label {
        font-size: 14px;
        margin-bottom: 2px;
    }

        .single-form-row label span.required {
            color: red;
        }

    .single-form-row input {
        border: 1px solid #999999;
        color: #666;
        font-size: 14px;
        padding: 5px 12px;
        width: 100%;
    }

        .single-form-row input::focus {
            outline: none;
        }

    .single-form-row textarea {
        border: 1px solid #999999;
        color: #555555;
        padding: 12px;
        width: 100%;
        font-size: 14px;
    }

    .single-form-row.m-0 {
        margin: 0 !important;
    }

.checkout-box-wrap p {
    font-size: 14px;
}

.checkout-box-wrap .ship-box-info {
    display: none;
}

.account-create {
    display: none;
}

    .account-create .creat-pass > span {
        color: red;
    }

.nice-select select {
    height: 35px;
    width: 100%;
    font-size: 14px;
    padding: 0 10px;
    color: #555;
    border: 1px solid #999;
}

@media only screen and (max-width: 767px) {
    .your-order-wrapper {
        margin-top: 70px;
    }
}

@media only screen and (max-width: 479px) {
    .your-order-wrapper {
        margin-top: 60px;
    }
}

.your-order-wrap {
    background: #f6f6f6;
}

.your-order-table {
    padding: 20px 30px;
}

    .your-order-table table {
        width: 100%;
    }

        .your-order-table table th, .your-order-table table td {
            border-bottom: 1px solid #d8d8d8;
            border-right: medium none;
            font-size: 14px;
            padding: 15px 0;
            text-align: center;
        }

        .your-order-table table th {
            border-top: medium none;
            font-weight: normal;
            text-align: center;
            text-transform: uppercase;
            vertical-align: middle;
            white-space: nowrap;
            width: 250px;
        }

        .your-order-table table .shipping > th {
            vertical-align: top;
        }

.payment-method {
    padding: 20px 30px;
}

.payment-accordion h3 a {
    color: #333333;
    font-size: 15px;
    font-weight: 500;
    padding-left: 31px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
}

    .payment-accordion h3 a::before, .payment-accordion h3 a::after {
        content: "";
        display: inline-block;
        font-family: ionicons;
        font-size: 19px;
        left: 0;
        position: absolute;
        top: 0px;
    }

    .payment-accordion h3 a img {
        height: 60px;
        display: block;
    }

.payment-accordion h3.open a::after {
    content: "";
}

.payment-accordion p {
    font-size: 14px;
    padding-left: 20px;
}

.order-button-payment {
    margin-top: 30px;
}

    .order-button-payment input {
        background: #ff5151;
        border: medium none;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        padding: 12px;
        text-transform: uppercase;
        width: 100%;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

        .order-button-payment input:hover {
            background: #000000;
            color: #ffffff;
        }*/