
.my-account-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
}

.myaccount-tab-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .myaccount-tab-menu a {
        border: 1px solid #dddddd;
        border-bottom: none;
        color: #000000;
        font-weight: 500;
        font-size: 15px;
        display: block;
        padding: 10px 15px;
        text-transform: uppercase;
    }

        .myaccount-tab-menu a:last-child {
            border-bottom: 1px solid #dddddd;
        }

        .myaccount-tab-menu a:hover, .myaccount-tab-menu a.active {
            background-color: #151515;
            border-color: #151515;
            color: #ffffff;
        }

        .myaccount-tab-menu a i {
            font-size: 14px;
            text-align: center;
            width: 25px;
        }

@media (max-width: 767px) {
    #myaccountContent {
        margin-top: 30px;
    }
}

.myaccount-content {
    border: 1px solid #e5e5e5;
    padding: 30px;
}

@media (max-width: 575px) {
    .myaccount-content {
        padding: 20px 15px;
    }
}

.myaccount-content form {
    margin-top: -20px;
}

    .myaccount-content form .single-input-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }

        .myaccount-content form .single-input-item input {
            width: 100%;
            padding: 12px 10px;
            border: 1px solid #dddddd;
        }

            .myaccount-content form .single-input-item input:focus {
                border: 1px solid #E72463;
            }

    .myaccount-content form .single-item-button {
        width: 25%;
    }

@media (max-width: 1199px) {
    .myaccount-content form .single-item-button {
        width: 30%;
    }
}

@media (max-width: 991px) {
    .myaccount-content form .single-item-button {
        width: 45%;
    }
}

@media (max-width: 767px) {
    .myaccount-content form .single-item-button {
        width: 100%;
    }
}

.myaccount-content h3 {
    font-size: 20px;
    border-bottom: 1px dashed #dddddd;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 500;
}

.myaccount-content .welcome a {
    color: #000000;
}

    .myaccount-content .welcome a:hover {
        color: #E72463;
    }

.myaccount-content .welcome strong {
    font-weight: 600;
    color: #E72463;
}

.myaccount-content fieldset {
    margin-top: 20px;
}

    .myaccount-content fieldset legend {
        color: #000000;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 500;
        border-bottom: 1px dashed #dddddd;
    }

.myaccount-table {
    white-space: nowrap;
    font-size: 14px;
}

    .myaccount-table table th, .myaccount-table .table th {
        color: #000000;
        padding: 10px;
        font-weight: 500;
        background-color: #f8f8f8;
        border-color: #dddddd;
        border-bottom: 0;
    }

    .myaccount-table table td, .myaccount-table .table td {
        padding: 10px;
        vertical-align: middle;
        border-color: #dddddd;
    }

.saved-message {
    background-color: #f8f8f8;
    border-top: 3px solid #E72463;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    font-size: 15px;
    color: #666666;
    padding: 20px;
}
