<footer class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Enlaces útiles</h3>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Catálogo</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Contacto</h3>
                <p>Dirección: Calle Principal, Ciudad, País</p>
                <p>Teléfono: +123456789</p>
                <p>Email: info@tudominio.com</p>
            </div>
        </div>
    </div>
</footer>